/*
/*/
!backups
!bootstrap
!lib
!tests
# uncomment the following line if you do not have composer on your non-development environment
# !vendor

!.gitignore
!composer.json
!composer.lock
!phpunit.xml
!README.md
!wp-config
